name: Upload mod release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master
      name: Checkout

    - uses: arma-actions/sqflint@v1.0
      name: Validate with SQFLint

    - uses: arma-actions/hemtt@v1
      name: Setup HEMTT

    - name: Build the mod
      run: hemtt release

    - uses: svenstaro/upload-release-action@2.7.0
      name: Upload release
      with:
        file: "releases/sog_mg_belts-latest.zip"
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        body: "This is an automatic release of SOG MG Belts ${{ github.ref_name }}"
        make_latest: true
